<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <title>DID_Project for SignUp</title>
  </head>
  <style>
        body {
          text-align: center;
      
    border-bottom: 30px solid blue;
    
  }
  </style>

  <body>
   <div> <strong><h1>Join,us <br><h1>DID</h1></strong></div>
    <hr />
    <form name="fo" method="get">
      Username : <input type="text" size="20" value="email@naver.com" placeholder="email@naver.com"/><br />
      password : <input type="password" size="20" value="123456" />
      <p></p>
      <button class="login">Login</button>
      <p></p>
      <!-- <div class="container"> -->
      <button class="signup" size="30">회원가입</button>
      <!-- </div> -->
      <p></p>
      <button findid="">아이디 찾기</button>
      <button findPassword="">비밀번호 찾기</button>
      <button updatePassword="">비밀번호 변경</button>
      <br>
      <img src="/images/gimon.png" width:200px height:200pxr >
    
    
        
  </body>
</html>
